<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common-style" th:remove="tag">
<!--    <link rel="stylesheet" href="../static/css/tabler.css">-->
<!--    <link rel="stylesheet" href="../static/css/tabler.min.css">-->
<!--    <link rel="stylesheet" href="../static/css/tabler-vendors.css">-->
<!--    <link rel="stylesheet" href="../static/css/demo.css">-->
    <link rel="stylesheet" href="src/main/resources/static/css/tabler.min.css">
    <link rel="stylesheet" href="src/main/resources/static/css/tabler.css">
    <link rel="stylesheet" href="src/main/resources/static/css/tabler-vendors.css">
    <link rel="stylesheet" href="src/main/resources/static/css/tabler-vendors.min.css">
    <link rel="stylesheet" href="src/main/resources/static/css/demo.css">
    <link rel="stylesheet" href="src/main/resources/static/css/demo.min.css">




<!--    <link href="./dist/css/tabler.min.css?1692870487" rel="stylesheet"/>-->
<!--    <link href="./dist/css/tabler-flags.min.css?1692870487" rel="stylesheet"/>-->
<!--    <link href="./dist/css/tabler-payments.min.css?1692870487" rel="stylesheet"/>-->
<!--    <link href="./dist/css/tabler-vendors.min.css?1692870487" rel="stylesheet"/>-->
<!--    <link href="./dist/css/demo.min.css?1692870487" rel="stylesheet"/>-->

</div>
</html>