<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="topbar" th:remove="tag">
    <nav class="navbar navbar-expand-lg bg-secondary">
        <div class="container-fluid d-flex ">
            <a class="navbar-brand text-white me-3" href="#">Resto Manager</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="bi bi-stack text-primary"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav d-flex align-items-center w-100 d-flex justify-content-around ">
                    <li class="nav-item text-center mx-3">
                        <a class="nav-link text-white d-flex align-items-center" href="#">
                            <i class="bi bi-house-door-fill fs-4 me-2"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item dropdown text-center mx-3 dropdown-hover">
                        <a class="nav-link text-white d-flex align-items-center" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-tools fs-4 me-2"></i>
                            Manage
                            <i class="bi bi-chevron-down ms-2"></i>
                        </a>
                        <ul class="dropdown-menu bg-secondary text-center rounded">
                            <li><a class="dropdown-item text-white" href="#">Our Dishes</a></li>
                            <li><a class="dropdown-item text-white" href="#">Our Tables</a></li>
                        </ul>
                    </li>
                    <li class="nav-item text-center mx-3">
                        <a class="nav-link text-white d-flex align-items-center" href="#">
                            <i class="bi bi-cart-fill fs-4 me-2"></i>
                            All Orders
                        </a>
                    </li>
                    <li class="nav-item text-center mx-3">
                        <a class="nav-link text-white d-flex align-items-center" href="#">
                            <i class="bi bi-file-earmark-text-fill fs-4 me-2"></i>
                            All Bills
                        </a>
                    </li>
                    <li class="nav-item text-center mx-3">
                        <a class="nav-link text-white d-flex align-items-center" href="#">
                            <i class="bi bi-bar-chart-fill fs-4 me-2"></i>
                            Statistics
                        </a>
                    </li>
                    <li class="nav-item text-center mx-3">
                        <a class="nav-link text-white d-flex align-items-center" href="#">
                            <i class="bi bi-tag-fill fs-4 me-2"></i>
                            Coupons
                        </a>
                    </li>

                </ul>
            </div>
            <div class="dropdown">
                <button class="btn text-white bg-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i id="selectedIcon" class="bi bi-house-door"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item" href="#" onclick="changeIcon('bi bi-house-door')">
                            <i class="bi bi-house-door"></i>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#" onclick="changeIcon('bi bi-gear')">
                            <i class="bi bi-gear"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>