<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dishes</title>
    <div th:replace="dashboard/common-head :: common-head"></div>
</head>
<body class="hold-transition sidebar-mini layout-fixed bg-light">
<div class="wrapper">
    <div th:replace="dashboard/topbar :: topbar"></div>
    <div class="content-wrapper bg-light">
        <hr class="m-0 mb-5 text-gray-400">

        DASHBOARD

</div>
<div th:replace="dashboard/common-scripts :: common-scripts"></div>
</body>
</html>